<footer class="footer">
  <small>
    <a href="http://reilstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about.html'    %></li>
      <li><%= link_to "Contact", 'contacts.html' %></li>
      <li><a href="http://news.reilstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>